body {
    margin: 0;
    background: #555;
    line-height: 1.7;
}

a,
body {
    color: #eee;
}

.side-bar {
    float: left;
    width: 20%;
}

.side-bar>* {
    padding: 10px 15px;
}

.main {
    float: right;
    width: 80%;
}

.header .logo {
    border: 5px solid #eee;
    padding: 10px 20px;
    font-size: 30px;
    display: inline-block;
}